<!--Title Container-->
<div class="title-container">
  <h1 class="title">EUR - <span class="details-title">Europiean Union Euro</span></h1>
  <button class="action-btn">Back to Home</button>
</div>

<!--Form container-->
<form class="currency-form">
  <div class="form-left">
    <div class="amount-control">
      <label for="amount">Amount</label>
      <input id="amount" name="amount" type="number" value="25" />
    </div>
    <input id="base_rate" type="text" value="1.00 EUR=XX.XX USD" disabled />
  </div>
  <div class="form-right">
    <div class="from-control">
      <label for="from">From</label>
      <select name="from" id="from">
        <option value="EUR">EUR</option>
      </select>
    </div>
    <div class="arrow-container">
      <span class="arrow">⟺</span>
    </div>
    <div class="to-control">
      <label for="to">To</label>
      <select name="to" id="to">
        <option value="USD">USD</option>
      </select>
    </div>

    <button class="action-btn" id="convert">Convert</button>
    <input id="result" type="text" value="XX.XX USD" disabled />
  </div>
</form>

<!--Details card container-->
<div class="details-card-container">
  <div class="details-card-item">
        <span>
          Historical Rates Chart
        </span>
  </div>
</div>
