@media(max-width: 820px) {
  .home-card-grid {
    grid-template-columns: 1fr;
  }
}
.home-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  padding: 10px;
}

.home-card-item {
  border: 1px solid #fff;
  border-radius: 1em;
  padding: 5em;
}


@media(max-width: 820px) {
  .home-card-grid {
    grid-template-columns: 1fr;
  }
}
