<div class="container">
  <div class="header">
    <div class="header-icon-container">
      <img routerLink="" class="header-icon" src="../assets/keyhole-in-a-shield-black-shape-svgrepo-com.svg" alt="" />
    </div>
    <div class="header-buttons-container">
      <button class="header-btn" [routerLink]="['/detail', 'EUR-USD']">EUR-USD Details</button>
      <button class="header-btn" [routerLink]="['/detail', 'EUR-GBP']">EUR-GBP Details</button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

