<div class="home-card-grid">
  <div class="home-card-item">1.00 EUR=XX.XX USD</div>
  <div class="home-card-item">1.00 EUR=XX.XX USD</div>
  <div class="home-card-item">1.00 EUR=XX.XX USD</div>
  <div class="home-card-item">1.00 EUR=XX.XX USD</div>
  <div class="home-card-item">1.00 EUR=XX.XX USD</div>
  <div class="home-card-item">1.00 EUR=XX.XX USD</div>
  <div class="home-card-item">1.00 EUR=XX.XX USD</div>
  <div class="home-card-item">1.00 EUR=XX.XX USD</div>
  <div class="home-card-item">1.00 EUR=XX.XX USD</div>
</div>
